<app-menu></app-menu>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">
        <div class="card my-5">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #participantForm="ngForm">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>


            <label for="fullname"><i class="fa fa-user"></i> Full Name</label>
            <div class="form-group">
              <input type="text" [(ngModel)]="participant.fullname"
                     class="form-control"
                     id="fullname"
                     name="fullname"
                     placeholder="John M.Doe "
                     required #fullname="ngModel">
            </div>
            <div [hidden]="!fullname.pristine" class="alert alert-danger">Name is required</div>



            <label for="mobile"><i class="fa fa-phone"></i> Mobile</label>
            <div class="form-group">
              <input type="text" [(ngModel)]="participant.mobile"
                     class="form-control"
                     id="mobile"
                     name="mobile"
                     placeholder="111-222-333"
                     required #mobile="ngModel">
            </div>
            <div [hidden]="!mobile.pristine" class="alert alert-danger">Mobile is required</div>


            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <div class="form-group">
                <input type="text" [(ngModel)]="participant.email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="john@example.com"
                       required #email="ngModel">
            </div>
            <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>


            <label for="address"><i class="fa fa-address-card-o"></i> Address</label>
            <div class="form-group">
              <input type="text" [(ngModel)]="participant.address"
                     class="form-control"
                     id="address"
                     name="address"
                     placeholder="543 W. 15th Street"
                     required #address="ngModel">
            </div>
            <div [hidden]="!address.pristine" class="alert alert-danger">Address is required</div>


            <label for="city"><i class="fa fa-institution"></i> City</label>
            <div class="form-group">
              <input type="text" [(ngModel)]="participant.city"
                     class="form-control"
                     id="city"
                     name="city"
                     placeholder="New York"
                     required #city="ngModel">
            </div>
            <div [hidden]="!city.pristine" class="alert alert-danger">City is required</div>



            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <div class="form-group">
                  <input type="text" [(ngModel)]="participant.state"
                         class="form-control"
                         id="state"
                         name="state"
                         placeholder="NY"
                         required #state="ngModel">
                </div>
                <div [hidden]="!state.pristine" class="alert alert-danger">State is required</div>
              </div>



              <div class="col-50">
                <label for="zipcode">Zip code</label>
                <div class="form-group">
                  <input type="text" [(ngModel)]="participant.zipcode"
                         class="form-control"
                         id="zipcode"
                         name="zipcode"
                         placeholder="10001"
                         required #zipcode="ngModel">
                </div>
                <div [hidden]="!zipcode.pristine" class="alert alert-danger">Zipcode is required</div>              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fullname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa mx-2" style="color:navy"></i>
              <i class="fa fa-cc-amex mx-2" style="color:blue"></i>
              <i class="fa fa-cc-mastercard mx-2" style="color:red"></i>
              <i class="fa fa-cc-discover mx-2" style="color:orange"></i>
            </div>
            <label for="cname">Name on Card</label>
            <div class="form-group">
              <input type="text" [(ngModel)]="participant.cardOwnerName"
                     class="form-control"
                     id="cname"
                     name="cname"
                     placeholder="John More Doe"
                     required #cname="ngModel">
            </div>
            <div [hidden]="!cname.pristine" class="alert alert-danger">Owner Name is required</div>

            <label for="ccnum">Credit card number</label>
            <div class="form-group">
              <input type="text" [(ngModel)]="participant.cardNumber"
                     class="form-control"
                     id="ccnum"
                     name="ccnum"
                     placeholder="111-222-333-444"
                     required #ccnum="ngModel">
            </div>
            <div [hidden]="!ccnum.pristine" class="alert alert-danger">Card number is required</div>


            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
              </div>

              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>

        </div>
        <label style="text-align: center">
          <input type="checkbox" checked="checked" name="sameadr"><i> Shipping address same as billing. </i>
        </label>
        <label style="text-align: center">
          <input type="checkbox" checked="checked" name="sameadr"><i> I have read and agree with the terms and conditions. </i>
        </label>
        <a href="/paymentMessage">
          <button type="submit" [disabled]="!participantForm.form.valid"
                  class="btn btn-success">Continue to checkout
          </button>
        </a>
      </form>
    </div>
  </div>
      </form>
    </div>
  </div>
</div>
