<app-menu></app-menu>
<div class="card my-5">
  <div class="card-body">


        <div><h4 class="mr-2 startDate" style="margin-top: 45px">Take-off date: </h4></div>
      <div class="form-group mr-3 startDate" style="margin-top: 38px">
        <div class="input-group">
          <input class="form-control " placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="dateIn" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="d.toggle()" type="button"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    <div><h4 class="mr-2 startDate" style="margin-top: 45px">Take-off time: </h4></div>
      <div class="startDate mr-lg-5">
        <ngb-timepicker [(ngModel)]="timeIn"></ngb-timepicker>
        <pre hidden>Selected time: {{timeIn | json}}</pre>
      </div>
        <div><h4 class="mr-2 startDate" style="margin-top: 45px">Landing date: </h4></div>
      <div class="form-group mr-3 startDate" style="margin-top: 38px">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="dateOut" ngbDatepicker #c="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="c.toggle()" type="button"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    <div><h4 class="mr-2 startDate" style="margin-top: 45px">Landing time: </h4></div>
        <div>
          <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>
          <pre hidden>Selected time: {{timeEnd | json}}</pre>

        </div>


    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="flight.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter flight name"
               >
      </div>

      <div class="form-group">
        <label for="rowNumber">Number of rows</label>
        <input type="number" [(ngModel)]="flight.rowsNumber"
               class="form-control"
               id="rowNumber"
               name="rowNumber"
               placeholder="Enter the number of rows"
               >
      </div>

      <div class="form-group">
        <label for="seatsRowNumber">Number of seats per row</label>
        <input type="number" [(ngModel)]="flight.seatsRowNumber"
               class="form-control"
               id="seatsRowNumber"
               name="seatsRowNumber"
               placeholder="Enter the row's seats number"
               >
      </div>


      <div class="form-group">
        <label for="airportsDep">Airports Departure</label>
        <ng-multiselect-dropdown
          [data]="airports"
          [placeholder]="'Select the Departure Airport'"
          id="airportsDep"
          [(ngModel)]="selectedAirportsDep"
          [ngModelOptions]="{standalone: true}"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"

        >
          <div [hidden]="" class="alert alert-danger">Airport is required</div>
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label for="airports">Airports</label>
        <ng-multiselect-dropdown
          [data]="airports"
          [placeholder]="'Select the Arrival Airport'"
          id="airports"
          [(ngModel)]="selectedAirportsArr"
          [ngModelOptions]="{standalone: true}"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
          <div [hidden]="" class="alert alert-danger">Airport is required</div>
        </ng-multiselect-dropdown>
      </div>
      <button (click)="goToFlightList()"
              class="btn btn-secondary mx-1">Back
      </button>
      <button type="submit"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
