<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <a href="http://localhost:4200/homepage" class="navbar-brand text-white">Travel Agency</a>
  <div >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/continent" class="nav-link text-white"><i class="fa fa-globe" aria-hidden="true"></i> Continents </a>
      </li>
      <li class="nav-item">
        <a routerLink="/countries" class="nav-link text-white"><i class="fa fa-area-chart" aria-hidden="true"></i> Countries </a>
      </li>
      <li class="nav-item">
        <a routerLink="/cities" class="nav-link text-white"><i class="fa fa-building" aria-hidden="true"></i> Cities </a>
      </li>
      <li class="nav-item">
        <a routerLink="/hotels" class="nav-link text-white"><i class="fa fa-bed" aria-hidden="true"></i> Hotels </a>
      </li>
      <li class="nav-item">
        <a routerLink="/hotelsCust" class="nav-link text-white"><i class="fa fa-bed" aria-hidden="true"></i> Hotels Customers </a>
      </li>
      <li class="nav-item">
        <a routerLink="/flights" class="nav-link text-white"><i class="fa fa-plane" aria-hidden="true"></i> Flights </a>
      </li>
      <li class="nav-item">
        <a routerLink="/flights/customers" class="nav-link text-white"><i class="fa fa-plane" aria-hidden="true"></i> Flights Customers </a>
      </li>
      <li class="nav-item">
        <a routerLink="/participants" class="nav-link text-white"><i class="fa fa-users" aria-hidden="true"></i> Costumers </a>
      </li>
      <li class="nav-item">
        <a routerLink="/airports" class="nav-link text-white"><i class="fa fa-road" aria-hidden="true"></i> Airports </a>
      </li>
      <li class="nav-item">
        <a routerLink="/photos" class="nav-link text-white"><i class="fa fa-road" aria-hidden="true"></i> Photo </a>
      </li>
      <li class="nav-item">
        <a routerLink="/roomType" class="nav-link text-white"><i class="fa fa-globe" aria-hidden="true"></i> Room Types </a>
      </li>
    </ul>
  </div>
</nav>

