<app-menu></app-menu>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #participantEdit="ngForm">

      <!--      Full name-->
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" [(ngModel)]="participant.fullname"
               class="form-control"
               id="fullname"
               name="fullname"
               placeholder="Enter new Name"
               required #fullname="ngModel">
      </div>
      <div [hidden]="!fullname.pristine" class="alert alert-danger">Full Name is required</div>
      <!--      Mobile-->


      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" [(ngModel)]="participant.mobile"
               class="form-control"
               id="mobile"
               name="mobile"
               placeholder="Enter new Mobile"
               required #mobile="ngModel">
      </div>
      <div [hidden]="!mobile.pristine" class="alert alert-danger">Mobile is required</div>



      <!--      email-->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="participant.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter new email"
               required #email="ngModel">
      </div>
      <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>


      <!--      address-->
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" [(ngModel)]="participant.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Enter new address"
               required #address="ngModel">
        <div [hidden]="!address.pristine" class="alert alert-danger">address is required</div>
      </div>


      <!--      city-->
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" [(ngModel)]="participant.city"
               class="form-control"
               id="city"
               name="city"
               placeholder="Enter new city"
               required #city="ngModel">
      </div>
      <div [hidden]="!city.pristine" class="alert alert-danger">City is required</div>



      <!--      state-->
      <div class="form-group">
        <label for="state">state</label>
        <input type="text" [(ngModel)]="participant.state"
               class="form-control"
               id="state"
               name="state"
               placeholder="Enter new state"
               required #state="ngModel">
      </div>
      <div [hidden]="!state.pristine" class="alert alert-danger">State is required</div>

      <!--      zipcode-->
      <div class="form-group">
        <label for="zipcode">Zip code</label>
        <input type="text" [(ngModel)]="participant.zipcode"
               class="form-control"
               id="zipcode"
               name="zipcode"
               placeholder="Enter new Zip code"
               required #zipcode="ngModel">
      </div>
      <div [hidden]="!zipcode.pristine" class="alert alert-danger">Zip code is required</div>


      <!--      cardOwnerName-->
      <div class="form-group">
        <label for="cardOwnerName">Card Owner</label>
        <input type="text" [(ngModel)]="participant.cardOwnerName"
               class="form-control"
               id="cardOwnerName"
               name="cardOwnerName"
               placeholder="Enter new Card Owner"
               required #cardOwnerName="ngModel">
      </div>
      <div [hidden]="!cardOwnerName.pristine" class="alert alert-danger">Card Owner is required</div>




      <!--      cardNumber-->
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" [(ngModel)]="participant.cardNumber"
               class="form-control"
               id="cardNumber"
               name="cardNumber"
               placeholder="Enter new Card Number"
               required #cardNumber="ngModel">
      </div>
      <div [hidden]="!cardNumber.pristine" class="alert alert-danger">Card Number is required</div>


      <div class="btn-group">
        <a (click)="gotoParticipantsList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!participantEdit.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>
