<app-menu></app-menu>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #countryAdd="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="country.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter country name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Continent is required</div>
      <div class="form-group">
        <label for="continents">Continents</label>
        <ng-multiselect-dropdown
          [data]="continents"
          [placeholder]="'Select the Continent'"
          id="continents"
          [(ngModel)]="selectedContinets"
          [ngModelOptions]="{standalone: true}"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
          <div [hidden]="" class="alert alert-danger">Continents is required</div>
        </ng-multiselect-dropdown>
      </div>
      <div class="btn-group">
        <a (click)="gotoCountriesList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!countryAdd.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>



