<div id="aiport">
  <div class="text-block">
    <app-menu></app-menu>
  </div>
  <img src="assets/airport.jpg" width="100%" >
</div>

<!-- MAIN (Center website) -->
<div class="main">

  &nbsp;
  <hr>

  <h2>PORTFOLIO</h2>
  <p>Resize the browser window to see the responsive effect.</p>

  <!-- Portfolio Gallery Grid -->
  <hr>
  <h1 style="text-align: center"><i>Places</i></h1>
  <hr>

  <div class="row">
    <div class="column">
      <div class="content">
        <img src="assets/big-paris17-zice.jpg" alt="Mountains" style="width:100%">
        <h2><b>Europe</b></h2>
        <p>Europe is a continent located entirely in the Northern Hemisphere
          and mostly in the Eastern Hemisphere.
          It comprises the westernmost part of Eurasia and is bordered by the Arctic Ocean to the north,
          the Atlantic Ocean to the west,
          the Mediterranean Sea to the south, and Asia to the east</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/australia.jpg" alt="Lights" style="width:105%">
        <h2><b>Australia</b></h2>
        <p>Australia, officially known as the Commonwealth of Australia,
          is a sovereign country comprising the mainland of the Australian continent,
          the island of Tasmania, and numerous smaller islands.
          It is the largest country in Oceania and the world's sixth-largest country by total area
          Australia's capital is Canberra, and its largest city is Sydney.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/usa.jpg" alt="Nature" style="width:100%">
        <h2><b>United States</b></h2>
        <p>The United States of America (USA),
          commonly known as the United States (US or U.S.) or America,
          is a country primarily located in central North America,
          between Canada and Mexico. It consists of 50 states, a federal district,
          five self-governing territories, and several other island possessions.
          The national capital is Washington, D.C., and the most populous city is New York City.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/dubai.jpg" alt="Mountains" style="width:100%">
        <h2><b>Dubai</b></h2>
        <p>Dubai is the most populous city in the United Arab Emirates (UAE)
          and the capital of the Emirate of Dubai.
          Located in the eastern part of the Arabian Peninsula on the coast of the Persian Gulf.
          Dubai aims to be the business hub of Western Asia.
          It is also a major global transport hub for passengers and cargo..
          Dubai is thought to have been established as a fishing village in the early 18th century..
          </p>
      </div>
    </div>
  </div>

  <hr>
  <h1 style="text-align: center"><i>Parteners</i></h1>
  <hr>

  <div class="row">
    <div class="column">
      <div class="content">
        <img src="assets/Emirates-Sale.jpg" alt="Mountains" style="width:100%">
        <h2><b>Emirates Airline</b></h2>
        <p>Emirates connects the world to, and through, our global hub in Dubai.
          We operate modern, efficient and comfortable aircraft,
          and our culturally diverse workforce delivers award-winning
          services to our customers across six continents every day.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/Lufthansa_avion-768x426.jpg" alt="Lights" style="width:100%">
        <h2><b>Lufthansa</b></h2>
        <p>The Lufthansa Group is an aviation group with operations worldwide.
          With 138,353 employees, the Lufthansa Group generated revenue of EUR 36,424m in the financial year 2019.
          The Lufthansa Group is composed of the segments Network Airlines,
          Eurowings and Aviation Services.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/tarom.jpg" alt="Nature" style="width:85%">
        <h2><b>TAROM</b></h2>
        <p>TAROM - Compania Naţională de Transporturi Aeriene a României a fost înfiinţată în 1954 şi a crescut în acelaşi timp cu aviaţia românească.
          TAROM îşi desfăşoară activitatea sub autoritatea Ministerului Transporturilor şi este membră a Alianţei SkyTeam din 25 iunie 2010.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/download.jpg" alt="Mountains" style="width:100%">
        <h2><b>Wizz Air</b></h2>
        <p>Wizz Air is continuously looking for opportunities to expand its network of destinations and provide low-cost air transport.
          We are committed to achieving the lowest cost base in the Central and Eastern European region and airport choice has a crucial impact.</p>
      </div>
    </div>
  </div>


  <!-- END MAIN -->
</div>

&nbsp;
<div id="hotel">
  <img src="assets/hotels.jpg" width="100%" height="450px">
  <div id="hotel-text">
    <h1><i>Not sure where to rest?</i></h1>
    <h2><i>Check in now!</i></h2>
  </div>
</div>

&nbsp;
&nbsp;<div class="row">
  <div class="column">
  <div class="card" >
  <img src="assets/famous-hotel-Copacabana-Rio-credit-Catarina-BelovaShutterstock.jpg" alt="John" style="width:100%">
  <h2>Hotel Copacabana</h2>
  <p class="title">Rio de Janeiro</p>
  <p>Brazilia</p>

  <p><button>Explore</button></p>
</div>
  </div>

<div class="column">
<div class="card">
  <img src="assets/TripAdvisor-Beverly-Hills-Hotel.jpg" alt="John" style="width:100%">
  <h2>Beverly Hills Hotel</h2>
  <p class="title">Beverly Hills CA</p>
  <p>United States</p>
  <p><button>Explore</button></p>
</div>
</div>

&nbsp;
  <div class="column">
<div class="card">
  <img src="assets/Burj.jpg" alt="John" style="width:100%">
  <h2>Burj Al Arab</h2>
  <p class="title">Dubai</p>
  <p>Emirates</p>
  <p><button>Explore</button></p>
</div>
  </div>
</div>

&nbsp;
<div id="phone">
  <img src="assets/old-phone-60s-70s-grey.jpg" width="100%" height="450px">
  <div id="phone-contact" style="text-align: center;">
    <h1>CONTACT US!</h1>
    <p><button>Contact now!</button></p>
  </div>
</div>


<hr>
<p style="text-align: center">Copyright 2020:Travel Agency</p>
