
<div class="row info">
  <div class="col-sm-4"><label class="reserved"><input type="checkbox" class="cust-checkbox" disabled><span></span>Reserve Seat </label></div>
  <div class="col-sm-4"><label class="selected"><input type="checkbox" class="cust-checkbox" disabled><span></span>Selected Seat </label></div>
  <div class="col-sm-4"><label ><input type="checkbox" class="cust-checkbox" disabled><span></span>Empty Seat </label></div>
</div>
<div class="seats">
  <div class="row">
    <div class="col-sm-4">
      <label><input type="checkbox" class="cust-checkbox" ><span></span>a</label>
      <label><input type="checkbox" class="cust-checkbox" ><span></span>a</label>
      <label class="reserved"><input type="checkbox" class="cust-checkbox" ><span>a</span></label>
    </div>
    <div class="col-sm-4">
      <label><input type="checkbox" class="cust-checkbox" ><span></span>b</label>
      <label class="reserved"><input type="checkbox" class="cust-checkbox" ><span>b</span></label>
      <label><input type="checkbox" class="cust-checkbox" ><span>b</span></label>
    </div>
    <div class="col-sm-4">
      <label class="reserved"><input type="checkbox" class="cust-checkbox" ><span>c</span></label>
      <label><input type="checkbox" class="cust-checkbox" ><span>c</span></label>
      <label><input type="checkbox" class="cust-checkbox" ><span>c</span></label>
    </div>
  </div>
</div>

